html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    background-color: #093354;
}

a {
    display: block;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #E61970;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

#name {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

#email {
    margin: 2px 0 2px 0;
}

.contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-list li {
    float: left;
    margin: 0;
    padding: 0 10px;

    border-left: 1px solid;
    border-color: #eeeeee;
}

.contact-list li:first-child {
    padding-left: 0;
    border: 0;
}
